.swiper{
  // Swiper embarque un style de base facilement éditable grâce à des variables CSS pré-établies
  // exemples :
  --swiper-scrollbar-sides-offset: 25%;
  --swiper-scrollbar-bottom: 0px;
  --swiper-scrollbar-size: 6px;
  --swiper-scrollbar-drag-bg-color: blue;
}
