@charset "UTF-8";

// 1. Configuration and helpers
@import 'abstracts/functions';
@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/animations';
@import 'abstracts/keyframes';
@import 'abstracts/responsive';

// 2. Vendors
@import 'vendors/reset';

// 3. Base stuff
@import 'base/root';
@import 'base/base';
@import 'base/fonts';
@import 'base/typography';
@import 'base/helpers';

// 4. Layout-related sections
@import 'layout/header';
@import 'layout/footer';

// 5. Components
@import 'components/button';

// 6. Page-specific styles
@import 'pages/home';
@import 'pages/404';

// 7. Themes
@import 'themes/default';
