.input-wrapper {
  &--checkbox {
    --input-size: 14px;
    --checkbox-bg: white;
    --checkbox-color: black;
    --checkbox-border-color: grey;
    --checkbox-disabled-color: grey;
    --checkbox-disabled-border-color: lightgray;

    position: relative;

    input[type="checkbox"] {
      &:not(:checked),
      &:checked {
        position: absolute;
        top: 2px;
        left: 0;
        opacity: 0;
        pointer-events: none;

        & + label {
          display: inline-block;
          position: relative;
          padding: calc(var(--input-size) / 2) 0 calc(var(--input-size) / 2)
            calc(var(--input-size) + (var(--input-size) / 2));
          text-align: left;
          cursor: pointer;
          user-select: none;

          &::before,
          &::after {
            position: absolute;
            top: 50%;
            left: 0;
            width: var(--input-size);
            height: var(--input-size);
            margin: 0;
            transform: translateY(-50%);
            transition: all 0.2s;
            transition: background-color 0.1s ease-in-out;
            font-style: normal;
            font-weight: bold;
          }

          &::before {
            content: "";
            border: 1px solid var(--checkbox-border-color);
            background: var(--checkbox-bg);
          }

          &::after {
            content: "✓";
            color: var(--checkbox-bg);
            font-size: calc(var(--input-size) - 1px);
            font-variant: normal;
            line-height: 1;
            text-align: center;
            text-transform: none;
          }
        }
      }

      &:checked {
        & + label {
          &::before {
            border-color: var(--checkbox-color);
            background-color: var(--checkbox-color);
          }

          &::after {
            opacity: 1;
          }
        }
      }

      &:not(:checked) {
        & + label::after {
          opacity: 0;
        }
      }

      &:disabled {
        &:checked,
        &:not(:checked) {
          & + label {
            &::before {
              border-color: var(--checkbox-border-color);
              background-color: var(--checkbox-disabled-border-color);
            }

            &::after {
              color: var(--checkbox-disabled-color);
            }
          }
        }

        & + label {
          color: var(--checkbox-disabled-color);
          cursor: not-allowed;
        }
      }

      &:checked:focus,
      &:not(:checked):focus {
        & + label::before {
          border: 1px dotted var(--checkbox-color);
        }
      }
    }
  }
}

[type="checkbox"] {
  --checkbox-size: 18px;
  --checkbox-bg-color: white;
  --checkbox-disabled-bg-color: lightgray;
  --checkbox-check-color: black;
  --checkbox-check-disabled-color: grey;
  --checkbox-border-color: grey;

  display: inline-grid;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  margin: 0;
  border: 1px solid var(--checkbox-border-color);
  background-color: var(--checkbox-bg-color);
  color: currentColor;
  cursor: pointer;
  appearance: none;
  place-content: center;
  aspect-ratio: 1;

  &::before {
    content: "";
    width: calc(var(--checkbox-size) / 1.5);
    height: calc(var(--checkbox-size) / 1.5);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    // transform-origin: bottom left;
    transition: var(--nomotion, transform 0.2s ease-in-out);
    background-color: var(--checkbox-check-color);
  }

  &:focus {
    outline: 1px dashed var(--checkbox-border-color);
    box-shadow: none;
  }

  &:disabled {
    background-color: var(--checkbox-disabled-bg-color);
    &::before {
      color: var(--checkbox-check-disabled-color);
    }
  }

  &:checked {
    &::before {
      transform: scale(1);
    }
  }
}
