img {
  width: 100%;
  height: auto;
  &[data-lazy]:not([data-loaded]) {
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    &::before,
    &::after {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &::before {
      background: #ffffff;
      content: '';
    }
    &::after {
      content: attr(alt) 'loading';
      border: 2px dotted brown;
      color: grey;
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}
